/* responsive */
.internationalgrants-container {
    display: flex;
    height: 100vh;
}
  
.sidebar {
    width: 20%;
    background: #0037a5;
    position: sticky;
    color: #fff;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    padding-top: 10px;
    font-size: 10px;
    z-index: 1; 
    transition: transform 0.3s ease-in-out; 
}
  
.internationalgrants {
    flex: 1;
    overflow-y: auto;
    background-color: #f4f3ef !important;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out; 
}


  .internationalgrants-card {
    background-color: white;
    margin-top: 15px;
    width: 100%;
    display: "flex";
    flex-direction: column;
    min-height: 300px;
    padding: 25px;
    border-radius: 20px;
    flex-grow: 1;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%),
    0 6px 20px rgb(0 0 0 / 10%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .internationalgrants-card button {
    background-color: #51cbce;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 1px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .internationalgrants-card button:hover {
    background-color: #51ccfc;
  }

  .internationalgrants-card h5 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: 1.4em;
    font-weight: 400;
    color: #252422;
  }


  .internationalgrants-table-data h5 {
    font-weight: bold;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  }
  
  .internationalgrants-table-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  
  .internationalgrants-table-container h2 {
    font-size: 28px;
    font-weight: 500;
  }

  .sidebar.open {
      transform: translateX(0); 
  }

  .sidebar.closed {
      transform: translateX(-100%); 
  }


  .internationalgrants-list-table {
    display: flex;
    border-top: 1px solid #dee2e6;
    padding: 12px 0;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  
  .internationalgrants-list-table-format {
    display: flex;
    border-top: 1px solid #dee2e6;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .internationalgrants-list-table-format.title {
    font-weight: normal;
  }
  
  .internationalgrants-list-table-format b {
    font-weight: 450;
    font-size: 15px;

    /* width: 18%; */
    width: 30%;
    color: #333;
    border-right: 1px solid #dee2e6;
    text-align: left;
  }


  .internationalgrants-list-table-format.title2 {
    display: flex;
    border-top: 1px solid #dee2e6;
    padding: 10px 0;
    justify-content: space-between;
    align-items: flex-start;

    /* text-align: left; */
  }
  
  .internationalgrants-list-table-format.title2 b {
    font-weight: 450;
    font-size: 15px;
    width: 30%;
    color: #333;
    border-right: 1px solid #dee2e6;
    text-align: left;
    padding-right: 10px; 
  }



  
  .internationalgrants-list-table-format .value-details {
    width: 50%; 
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  .juw-copyright p {
    margin-top: 80px;
    text-align: right;
    font-size: 0.8571em;
    line-height: 1.8;
    color: #66615b;
  }
  
  .internationalgrants-list-table-format .value-details p {
    margin-left: 10px;
    font-size: 15px;
    color: #555;
  }
  
  .internationalgrants-list-table-format span {
    width: 50%;
    color: #555;
    font-size: 15px;
    flex: 1;
    margin-left: 40px;
  }
  



@media (max-width: 480px){

  .internationalGrants-card {
    display: flex;
    align-items: start;
  }

  div.download-btn {
    display: flex;
    margin: 0;
  }


  .internationalgrants-card button {
    width: 25vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }


  .internationalgrants-table-container {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
  }

  .internationalgrants-list-table-format {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #dee2e6;
    justify-content: space-between;
    padding: 10px 0;
  }

  .internationalgrants-list-table-format span {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    font-size: 11px;
    flex: 1;
    margin-left: 0;
  }


  .internationalgrants-list-table-format b {
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    margin-bottom: 10px;
  }


  .internationalgrants-list-table-format .value-details {
    width: 100%; 
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .internationalgrants-list-table-format .value-details p {
    margin: 0;
    margin-left: 6px;
    font-size: 9px;
    color: #555;
  }
}

