.add-personal-info-container {
    display: flex;
    height: 100vh;
    flex-direction: row; 
}

.sidebar {
    width: 20%;
    background: #0037a5;
    position: sticky;
    color: #FFF;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    padding-top: 10px;
    font-size: 10px;
    z-index: 1000; 
    transition: all 0.3s ease; 
}

.add-personal-info {
    flex: 1;
    overflow-y: auto;
    background-color: #F4F3EF;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.pi2-bred-crumb {
    margin: 0 20px !important;
    width: calc(100% - 40px);
    background-color: #e9ecef;
}


.add-personalinfo-card {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
    border-radius: 18px;
    animation: fadeIn 1s;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%),
    0 6px 20px rgb(0 0 0 / 10%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.add-personalinfo-heading {
  padding: 1rem 1rem 0.7rem;
  font-size: 22px;
}


.bred-crumb {
    margin: 0 20px !important;
    width: calc(100% - 40px);
}


.multiinputfields {
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 10px;
     line-height: 30px;
     border-radius: 5px;
     color: #66615b;
     box-shadow: none;
     font-size: 14px;
     box-sizing: border-box;
     padding: 10px 15px;
 }
 
 .multiinputfields label {
     color: #9A9A9A;
     font-size: 0.8571em;
 }


.multiinputfields input {
  width: 100%;
  padding: 8px;
  border: 1px solid #DDD;
  color: #66615B;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}


.epi-save-btn-bg {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.epi-savebut {
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 5vh;
    margin: center;
    margin-left: 15px;
    color: white;
    background-color: #51cbce;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    border-width: 1px;
}



.juw-copyright p {
    margin-top: 80px;
    text-align: right;
    font-size: 0.8571em;
    line-height: 1.8;
    color: #66615b;
  }

.savebutton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

div.navbar-div {
    margin: 0 0 1.4rem;
}

@media (width <= 1200px) {
    .sidebar {
        width: 25%;
    }

    .add-personal-info {
        padding: 15px;
    }

    .add-personalinfo-card {
        height: auto;
    }

    .multiinputfields {
        grid-template-columns: repeat(2, 1fr);
    }

    .epi-savebut {
        font-size: 14px; 
        width: 10vw; 
        height: 5vh;
    }
}

@media (width <= 992px) {
    .sidebar {
        width: 30%;
    }

    .add-personal-info {
        padding: 10px;
    }

    .add-personalinfo-card {
        height: auto;
    }

    .multiinputfields {
        grid-template-columns: 1fr; 
    }

    .epi-savebut {
        font-size: 14px; 
        width: 10vw; 
        height: 3vh;
    }
}

@media (width <= 768px) {
    .sidebar {
        width: 100%; 
        position: static; 
    }

    .add-personal-info-container {
        flex-direction: column; 
    }

    .add-personal-info {
        padding: 5px;
    }

    .add-personalinfo-card {
        margin: 5px;
    }

    .epi-savebut {
        height: 40px;
        width: 11vw;
    }
}

@media (width <= 576px) {
    .multiinputfields {
        padding: 5px;
    }

    .multiinputfields input {
        font-size: 12px; 
    }

    .epi-savebut {
        font-size: 14px; 
        height: 40px;
        width: 15vw;
    }
}