.ascollaborators-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background: #0037a5;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  font-size: max(1vw, 10px);
}

.ascollaborators-bred-crumb {
  margin: 0;
  width: 100%;
  background-color: #e9ecef;
}

.ascollaborators {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f3ef !important;
  padding: 20px;
}

/* .ascollaborators-card {
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
  } */

.ascollaborators-card {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%), 0 6px 20px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ascollaborators-card h3 {
  margin: 10px;
  margin-left: 0;
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.textarea textarea {
  width: 100%;
  height: 25vh;
  resize: none;
  padding: 10px;

  /* margin-top: 20px; */
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

div.textarea {
  margin-top: 15px;
}

.textarea textarea:focus {
  border-color: #ccc;
}

.textarea label {
  font-size: 0.8571em;
  margin-bottom: 5px;
  color: #9a9a9a;
}

.ascollaborators-content p {
  font-size: 14px;
  margin-left: 25px;
  margin-top: 20px;
  color: #252422;
  margin-bottom: 1rem;
}

.collaborators-heading h4 {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
}

.collaborators-heading p {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* input fields */
.ascollaborators-multiinputfields input {
  width: 100%;
  margin: 10px 0;
  padding: 6px;
  border: 1px solid #ddd;
  color: #66615b;
  border-radius: 4px;
  box-sizing: border-box;
}

.ascollaborators-two-inputs {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 20px;
}

.ascollaborators-inputgroup {
  margin-bottom: 15px;
}

.ascollaborators-two-inputs .ascollaborators-inputgroup {
  flex: 1;
}


.ascollaborators-inputgroup label {
  font-size: 0.8571em;
  margin-bottom: 5px;
  color: #9a9a9a;
}

.ascollaborators-inputgroup p {
  margin: 0;
  margin-bottom: 25px;
}

.ascollaborators-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.ascollaborators-button {
  font-weight: 600;
  font-size: 12px;
  width: 6vw;
  border: none;
  height: 4vh;
  color: white;
  background-color: #51cbce;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

@media (width <= 480px) {
  .ascollaborators-button {
    width: 15vw !important;
    height: 5vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ascollaborators-two-inputs {
    align-items: stretch;
    flex-direction: column;
    gap: 0;
    margin-bottom: 20px;
  }

  .multi-input-fields input {
    width: 100%;
    box-sizing: border-box;
  }

  .ascollaborators-inputgroup {
    margin-bottom: 15px;
  }

  
  .ascollaborators-two-inputs .ascollaborators-inputgroup {
    width: 100%;
  }
  


  .collaborators-heading h4 {
    font-size: 18px;
    text-align: center;
  }

  .collaborators-heading p {
    margin: 0;
    margin-bottom: 20px;
  }

  .ascollaborators-content p {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (width <= 768px) {
  .ascollaborators-card {
    background-color: white;
    margin-top: 30px;
    border-radius: 20px;
  }

  .ascollaborators-card h3 {
    margin: 10px;
    margin-left: 0;
    font-size: 1.22em;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .ascollaborators-content h3 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .textarea label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9a9a9a;
  }

  .ascollaborators-button {
    font-weight: 600;
    font-size: 12px;
    width: 15vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    color: white;
    background-color: #51cbce;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
  }
}

@media (width <= 1024px) {
  .ascollaborators-button {
    width: 9vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .collaborators-heading h4 {
    font-size: 18px;
    text-align: center;
  }

  .collaborators-heading p {
    margin: 0;
    margin-bottom: 20px;
  }

  .ascollaborators-content p {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
