/* updated : perfect for now just navigation issue in small devices */
/* .sidebar {
  width: 250px;
  background-color: #0037a5;
  position: fixed; 
  top: 0;
  left: 0; 
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  transition: width 0.3s ease-in-out;
  z-index: 1 !important; 
}

.sidebar.closed {
  width: 60px;
}

.sidebar-logo {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-logo img {
  width: 80%;
  max-width: 150px;
  height: auto;
}

.sidebar-options {
  padding: 0;
}

.accordion .MuiAccordionSummary-root {
  padding: 0;
}

.accordion .MuiAccordionDetails-root {
  padding-left: 16px;
}

.icons-sidebar {
  font-size: 18px;
}

.sidebar-item-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: opacity 0.3s;
  opacity: 1;
}

.sidebar.closed .sidebar-item-text {
  opacity: 0;
}

.underline-none {
  text-decoration: none !important;
  font-size: 10.5px !important;
  font-weight: 200;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 2px 0 !important;
}

.toggle-button {
  position: fixed; 
  top: 10px;
  left: 250px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: left 0.3s ease-in-out;
  z-index: 2; 
}

.sidebar.closed + .toggle-button {
  left: 60px;
}


span.MuiTypography-root {
  margin-left: -20px;
}

span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-7ednfo-MuiTypography-root{
  margin-left: 30px;
} */

/* svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  margin-right: -20px;
} */

/* .css-l2apy1-MuiButtonBase-root-MuiListItem-root {
  margin-left: 55px;
} */

/* span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-w48fvi-MuiTypography-root {
  margin-left: 55px;
} */


/* div.css-1mk9mw3-MuiList-root {
  list-style: none;
  margin: 0;
  margin-right: 21px;
  padding: 0;
  position: relative;
} */



/* updated */
.sidebar {
  width: 250px;
  background-color: #0037a5;
  position: fixed; 
  top: 0;
  left: 0; 
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  transition: width 0.3s ease-in-out;
  z-index: 1 !important; 
}

.sidebar.closed {
  width: 60px;
}

.sidebar-logo {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-logo img {
  width: 80%;
  max-width: 150px;
  height: auto;
}

.sidebar-options {
  padding: 0;
}

.accordion .MuiAccordionSummary-root {
  padding: 0;
}

.accordion .MuiAccordionDetails-root {
  padding-left: 16px;
}

.icons-sidebar {
  font-size: 18px;
}

.sidebar-item-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: opacity 0.3s;
  opacity: 1;
}

.sidebar.closed .sidebar-item-text {
  opacity: 0;
}

.underline-none {
  text-decoration: none !important;
  font-size: 10.5px !important;
  font-weight: 200;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 2px 0 !important;
}

.toggle-button {
  position: fixed; 
  top: 10px;
  left: 250px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: left 0.3s ease-in-out;
  z-index: 2; 
}

.sidebar.closed + .toggle-button {
  left: 60px;
}


svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  margin-right: -20px;
}

/* .side-ul {
  overflow-y: hidden !important;
   
} */


/* span.MuiTypography-root {
  margin-left: -20px;
}

span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-7ednfo-MuiTypography-root{
  margin-left: 30px;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  margin-right: -20px;
} */







/* svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  margin-right: -20px;
} */

/* .css-l2apy1-MuiButtonBase-root-MuiListItem-root {
  margin-left: 55px;
} */

/* span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-w48fvi-MuiTypography-root {
  margin-left: 55px;
} */


div.css-1mk9mw3-MuiList-root {
  list-style: none;
  margin: 0;
  /* margin-right: 21px; */
  padding: 0;
  position: relative;
}

/* div.MuiCollapse-wrapperInner.MuiCollapse-vertical.css-9l5vo-MuiCollapse-wrapperInner{
  margin-left: 45px !important;
} */


/* span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-w48fvi-MuiTypography-root {
  margin-left: 30px;
} */




/* @media (max-width: 768px) {
  .sidebar {
    width: 220px;
    position: fixed !important;
  }

  .sidebar.open {
    width: 270px;
  }

  .sidebar.closed {
    width: 0px;
  }

  .toggle-button {
    left: 220px;
  }

  .sidebar.open ~ .toggle-button {
    left: 270px;
  }

  .sidebar.closed ~ .toggle-button {
    left: 20px;
  }

  .sidebar-options {
    padding: 0;
    font-size: 8px;
  }

  span.MuiTypography-root
    MuiTypography-body1
    MuiListItemText-primary
    css-10hburv-MuiTypography-root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.00938em;
  }

  .css-10hburv-MuiTypography-root {
    margin: 0 !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5 !important;
    letter-spacing: 0.00938em;
    font-size: 10px;
    display: block !important;
  }
}




@media (min-width: 577px) and (max-width: 768px) {
  .sidebar {
    width: 220px;
    left: 0;
  }

  .sidebar.open {
    width: 270px;
  }

  .sidebar.closed {
    width: 0;
  }

  .toggle-button {
    left: 220px;
  }

  .sidebar.open ~ .toggle-button {
    left: 270px;
  }

  .sidebar.closed ~ .toggle-button {
    left: 20px;
  }

  .sidebar-options {
    padding: 0;
    font-size: 12px;
  }
}


@media (min-width: 769px) {
  .sidebar {
    width: 250px;
    left: 0;
  }

  .sidebar.closed {
    width: 60px;
  }

  .toggle-button {
    left: 250px;
  }

  .sidebar.closed + .toggle-button {
    left: 60px;
  }

} */


















/* responsive 3 */
/* .sidebar {
  width: 250px;
  background-color: #0037a5;
  position: fixed; 
  top: 0;
  left: 0; 
  height: 100vh;
  overflow-y: auto ;
  padding-top: 10px;
  transition: width 0.3s ease-in-out;
  z-index: 1 !important; 
}

.sidebar.closed {
  width: 60px;
}

.sidebar-logo {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-logo img {
  width: 80%;
  max-width: 150px;
  height: auto;
}

.sidebar-options {
  padding: 0;
}

.accordion .MuiAccordionSummary-root {
  padding: 0;
}

.accordion .MuiAccordionDetails-root {
  padding-left: 16px;
}

.icons-sidebar {
  font-size: 1.5em;
  font-size: 18px;
}

.sidebar-item-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: opacity 0.3s;
  opacity: 1;
}

.sidebar.closed .sidebar-item-text {
  opacity: 0;
} */

/* .underline-none {
  text-decoration: none;
  color: #ffffff;
} */

/* .underline-none {
  text-decoration: none !important;
  font-size: 10.5px !important;
  font-weight: 200;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 2px 0 !important;
}

.toggle-button {
  position: fixed;
  top: 10px;
  left: 250px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: left 0.3s ease-in-out;
  z-index: 2; 
}

.css-10hburv-MuiTypography-root {
  font-size: 14px !important;
}

.MuiAccordionSummary-content {
      margin: 5px 0;
}

.sidebar.closed ~ .toggle-button {
  left: 60px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 220px;
    position: fixed !important;
  }

  .sidebar.open {
    width: 270px;
  }

  .sidebar.closed {
    width: 0px;
  }

  .toggle-button {
    left: 220px;
  }

  .sidebar.open ~ .toggle-button {
    left: 270px;
  }

  .sidebar.closed ~ .toggle-button {
    left: 20px;
  }

  .sidebar-options {
    padding: 0;
    font-size: 8px;
  }

  span.MuiTypography-root
    MuiTypography-body1
    MuiListItemText-primary
    css-10hburv-MuiTypography-root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.00938em;
  }

  .css-10hburv-MuiTypography-root {
    margin: 0 !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5 !important;
    letter-spacing: 0.00938em;
    font-size: 10px;
    display: block !important;
  }
} */
