.implementation-timeline-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background: #0037a5;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  font-size: max(1vw, 10px);
}

.implementation-timeline_bred-crumb {
  margin: 0;
  width: 100%;
  background-color: #e9ecef;
}

.implementation-timeline {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f3ef !important;
  padding: 20px;
}

/* .implementation-timeline-card {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
} */


.implementation-timeline-card {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
              0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.implementation-timeline-card h3 {
  /* padding: 10px; */
  margin: 10px;
  margin-left: 0;
  /* font-size: 1.57em; */
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 20px;
}

div.textarea {
  margin-top: 25px;
}

.textarea h4 {
  font-weight: 400;
}

.textarea textarea {
  width: 100%;
  height: 10vh;
  resize: none;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.textarea textarea:focus {
  border-color: #ccc;
}

.textarea label {
  font-size: 0.8571em;
  margin-bottom: 5px;
  color: #9a9a9a;
}

.implementation-timeline-content p {
  font-size: 14px;
  /* margin: 0; */
  /* margin-bottom: 20px; */
  margin-top: 20px;
  margin-bottom: 1rem;
}

.implementation-timeline_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.implementation-timeline_button {
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 6vw; */
  width: 6vw;
  border: none;
  /* height: 5vh; */
  height: 3vh;
  color: white;
  background-color: #51cbce;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}


@media (max-width: 480px){
  .implementation-timeline_button{
    width: 15vw !important;
    height: 4vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@media (max-width: 768px){
  .implementation-timeline_button{
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@media (max-width: 1024px){
  .implementation-timeline_button{
    width: 8vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

