.researchproject-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background: #0037a5;
  position: sticky;
  color: #fff;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  font-size: 10px;
}

.researchproject {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f3ef !important;
  padding: 20px;
}

.researchproject-card {
  background-color: white;
  margin-top: 15px;
  width: 100%;
  display: "flex";
  flex-direction: column;
  min-height: 600px;
  padding: 25px;
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%),
  0 6px 20px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.researchproject-card h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  margin-bottom: 20px;
  font-weight: 400;
  color: #252422;
}

.researchproject-card p {
  background-color: #e9ecef;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  color: #252422;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}

.researchproject-bredcrumb {
  margin: 0;
  width: 100%;
  background-color: #e9ecef;
}

.researchproject-multiinputfields h4 {
  margin-top: 30px;
}

.researchproject-multiinputfields input {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 6px;
  border: 1px solid #ddd;
  color: #66615b;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.researchproject-multiinputfields label {
  font-size: 0.8571em;
  margin-bottom: 5px;
  color: #9a9a9a;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.5;
}

.researchproject-title-input {
  margin-bottom: 15px;
  margin-top: 15px;
}

.two-inputs {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.inputgroup {
  margin-bottom: 15px;
}

.two-inputs .inputgroup {
  flex: 1;
  margin-right: 10px;
}



.inputgroup input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 6px;
    border: 1px solid #ddd;
    color: #66615b;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}


.inputgroup label {
  margin-bottom: 5px;
  color: #9a9a9a;
  font-size: 13px;
}

.multicheckboxes h6 {
  color: #6c757d;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.research-project-domain {
  margin-top: 10px;
}

.research-project-duration {
  margin-top: 10px;
}


.domain-research-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.domain-research-checkbox div {
  display: flex;
  align-items: center;
}

.domain-research-checkbox label {
  margin: 0;
  font-size: 0.7571em;

  /* display: flex; */
  align-items: center;
}

.domain-research-checkbox input[type="checkbox"] {
  margin-right: 8px;
}

.researchproject-textarea textarea {
  width: 100%;
  height: 8vh;
  resize: none;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.researchproject-textarea textarea:focus {
  border-color: #ccc;
}


.researchproject-textarea label {
  font-size: 0.81em;
  margin-bottom: 5px;
  color: #9a9a9a;
}

.researchproject-subheading {
  padding: 1rem 1rem 0.3rem 0;
  font-size: 14px;
  color: #252422;
}

.researchproject-mainheading {
  font-size: 1.414em;
  line-height: 1.45em;
  margin-top: 30px;
  margin-bottom: 15px;
}

.discipline-research-checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.discipline-research-checkbox h6 {
  grid-column: 1 / -1;
  margin-bottom: 10px;
}

.discipline-research-checkbox div {
  display: flex;
  align-items: center;
  font-size: 0.8571em;
  color: #9a9a9a;
}

.discipline-research-checkbox input[type="checkbox"] {
  margin-right: 4px;
}

.researchproject-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.researchproject-button {
  font-weight: 600;
  font-size: 12px;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 4vh;
  color: white;
  background-color: #51cbce;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}


.researchproject-juw-copyright p {
  margin-top: 80px;
  text-align: end;
  font-size: 0.8571em;
  line-height: 1.8;
  color: #66615b;
}


@media (width <= 576px) {
  .researchproject {
    padding: 5px;
  }

  .researchproject-card {
    padding: 10px;
    margin-top: 70px;
  }


  .domain-research-checkbox {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
  }

  .domain-research-checkbox label{
    display: flex;
    flex-wrap: wrap;
    line-height: 0.5;
  }

  .two-inputs {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 0;
    margin-bottom: 20px;
  }
}
