.projectdescription-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 20%;
    background: #0037a5;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    padding-top: 10px;
    font-size: max(1vw, 10px);
  }
  
  .projectdescription-bred-crumb {
    margin: 0;
    width: 100%;
    background-color: #e9ecef;
  }
  
  .projectdescription {
    flex: 1;
    overflow-y: auto;
    background-color: #f4f3ef !important;
    padding: 20px;
  }
  
  /* .projectdescription-card {
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
  } */

  .projectdescription-card {
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%),
                0 6px 20px rgb(0 0 0 / 10%);

    /* transform: perspective(1000px) translateZ(10px); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .projectdescription-card h3 {
    /* padding: 10px; */
    margin: 10px;
    margin-left: 0;

    /* font-size: 1.57em; */
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 20px;
  }

  /* .file-input-wrapper input{
    width: 100%;
  } */

  /* choose file input field */

  .file-input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .file-input-wrapper input[type="text"] {
    width: 100%; /* Make the input field 100% */

    /* padding: 10px; */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; /* Rounded corners on the left */
    outline: none;
  }
  
  .file-input-wrapper .hidden-file-input {
    display: none; 
  }
  
  .browse-button {
    padding: 5px 20px;
    background-color: #e9ecef;
    color: #495057;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(0 0 0 / 12.5%);
  }
  
  .projectsummary-upload p {
    margin-top: 20px;
    margin-bottom: 1rem;
  }

  .projectdescription-content p{
    color: #2c2c2c;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
  }


  .projectdescription-content h4 {
    font-weight: 400;
    margin-top: 20px;

    /* margin: 50px 0 15px 0; */
    color: #252422;
    margin-bottom: 20px;
    font-size: 1.514em;
    line-height: 1.45em;
  }
  
  .projectdescription-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  
  .projectdescription-button {
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 6vw; */
    width: 5vw;
    border: none;

    /* height: 5vh; */
    height: 3vh;
    color: white;
    background-color: #51cbce;
    border-radius: 30px;
    cursor: pointer;
    text-align: center; 
  }
  
  
  @media (width <= 480px){
    .projectdescription-button{
      width: 15vw !important;
      height: 5vh !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  

  @media (width <= 768px){
    .projectdescription-button {
      width: 10vw;
      height: 4vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (width <= 1024px){
    .projectdescription-button {
      width: 10vw;
      height: 4vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

