.intelproperty-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background: #0037a5;
  position: sticky;
  color: #fff;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  font-size: 10px;
}

.intelproperty {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f3ef !important;
  padding: 20px;
}

.viewintell-navbar-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.viewintell-navbar-div h4 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
  color: #66615b;
}


.intelproperty-card {
  background-color: white;
  margin-top: 15px;
  width: 100%;
  display: "flex";
  flex-direction: column;
  min-height: 600px;
  padding: 25px;
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%),
  0 6px 20px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.intelproperty-card h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  font-weight: 400;
}

.intelproperty-card button {
  background-color: #51cbce;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 1px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 30px;
}

.intelproperty-card button:hover {
  background-color: #51ccfc;
}

.intelproperty-table-data h5 {
  font-weight: bold;
  font-size: 15px;
}

.intelproperty-table-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.intelproperty-list-table {
  display: flex;
  border-top: 1px solid #dee2e6;
  padding: 5px 0;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}


.intelproperty-title {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
}

.intelproperty-title h5 {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}

.edit-intelprop {
  display: flex; 
  gap: 10px; 
}

.intelproperty-list-table-format {
  display: flex;
  border-top: 1px solid #dee2e6;
  justify-content: space-between;
  padding: 10px 0;
}

.intelproperty-list-table-format.title {
  font-weight: normal;
}

.intelproperty-list-table-format b {
  font-weight: 450;
  width: 25%;
  color: #333;
}

.intelproperty-list-table-format span {
  width: 70%;
  color: #555;
}


.intelproperty-key {
  flex: 1;
  font-weight: bold;
  text-align: left;
}

.intelproperty-value {
  flex: 2;
  text-align: left;
  word-wrap: break-word;
}

.vip-modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 60%;
  overflow-y: scroll;
  width: 30%;
  margin: auto;
  box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.vip-modal::-webkit-scrollbar {
  display: none;
}

.vip-modal h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}


.vip-overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 70%);
  display: flex;
  align-items: center;
  justify-content: center;
}



.vip-multi-fields {
  margin-bottom: 15px;
}

.vip-multi-fields label {
  display: block;
  font-size: 0.8em;
  color: #666;
  margin-bottom: 5px;
}

.vip-multi-fields input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 0.95em;
  transition: border-color 0.3s ease;
}


.vip-input-field select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 0.95em;
  transition: border-color 0.3s ease;
}


.vip-input-field {
  padding: 3px;
}

.vip-input-field input:focus {
  outline: none;
  border-color: black;
}


.vip-inputgroup {
  margin-bottom: 5px;
  padding: 3px;
}

.vip-inputgroup label {
  display: block;
  font-size: 0.8em;
  color: #666;
  margin-bottom: 5px;
}


.vip-inputgroup textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 0.95em;
  resize: none;
  transition: border-color 0.3s ease;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.vip-inputgroup textarea::-webkit-scrollbar {
  width: 0px;
}

.vip-inputgroup textarea:focus {
  outline: none;
  border-color: black;
}


.vip-submit-button {
  color: white;
  background-color: #51cbce;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 7vw;
  height: 4vh;
  gap: 10px;
  font-size: 14px;
  border-radius: 30px;
}



.vip-juw-copyright p {
  margin-top: 80px;
  text-align: end;
  font-size: 0.8571em;
  line-height: 1.8;
  color: #66615b;
}


@media only screen and (width <= 600px) {
  .intelproperty-list-table-format {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .viewintell-navbar-div h4 {
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 30px;
    color: #66615b;
  }

  div.download-btn {
    display: flex;
    margin: 0;
  }

  .edit-intelprop {
    display: flex;
    width: 50%;
    /* gap: 10px;  */
  }

  .vip-modal {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 60%;
    height: 70%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .vip-modal::-webkit-scrollbar {
    display: none;
  }

  .intelproperty-list-table-format b {
    flex: 1;
    width: 100%;
    font-size: 14px;
    font-weight: 460;
    margin-left: 0;
    text-align: left;
  }

  .intelproperty-list-table-format span {
    flex: 1;
    width: 100%;
    font-size: 14px;
    text-align: left;
  }

  .vip-juw-copyright p {
    margin-top: 80px;
    text-align: center;
    font-size: 0.8571em;
    line-height: 1.8;
    color: #66615b;
  }

  .edit-intelpropbtn, .delete-intelpropbtn {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
  }

  .intelproperty button {
    width: 25vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  .vip-submit-button {
    background-color: #51cbce;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 17vw;
    height: 5vh;
    gap: 10px;
    font-size: 11px;
    border-radius: 30px;
  }
}


@media only screen and (width >= 601px) and (width <= 767px) {
  .intelproperty-list-table-format {
    flex-direction: row;
    align-items: flex-start;
  }

  .intelproperty-key,
  .intelproperty-value {
    flex: 1;
    width: 50%;
    text-align: left;
  }
}


@media only screen and (width >= 768px) and (width <= 1024px) {
  .intelproperty-list-table-format {
    flex-direction: row;
    align-items: center;
  }

  .intelproperty-key {
    flex: 1;
    text-align: left;
  }

  .intelproperty-value {
    flex: 2;
    text-align: left;
    word-wrap: break-word;
  }

  .viewintell-navbar-div h4 {
    margin-left: 40px;
  }

  .vip-modal {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 40%;
    height: 60%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }


  .vip-submit-button {
    width: 10vw;
    height: 4vh;
    gap: 10px;
    font-size: 10px;
    border-radius: 30px;
  }
}


@media only screen and (width >= 1025px) and (width <= 1366px) {
  .intelproperty-list-table-format {
    flex-direction: row;
    align-items: center;
  }

  .intelproperty-key {
    flex: 1;
    text-align: left;
  }

  .intelproperty-value {
    flex: 2;
    text-align: left;
    word-wrap: break-word;
  }
}


@media only screen and (width >= 1367px) {
  .intelproperty-list-table-format {
    flex-direction: row;
    align-items: center;
  }

  .intelproperty-key {
    flex: 1;
    text-align: left;
  }

  .intelproperty-value {
    flex: 2;
    text-align: left;
    word-wrap: break-word;
  }
}
