
.research-publication-container {
    display: flex;
    height: 100vh;
}


.sidebar {
    width: 15%;
    background: #0037a5;
    position: sticky;
    color: #FFFFFF;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    padding-top: 10px;
    font-size: 10px;
}


.research-portfolio {
    padding: 1.5rem 1rem .7rem 1rem;
    font-size: 22px;
}

/* div.navbar-div {
    margin: 0 0 1.4rem 0;
} */


.card-content {
    text-align: left;
    margin: .5rem;   
    padding: 1rem;
}

.card-content h5 {
    font-size: 14px     ;
}

.mt-2 {
    margin-top: 1.4rem !important;
}

.bred-crumb {
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-radius: 5px;
    margin: 0 1rem;
}


.research-publication {
    flex: 1;
    overflow-y: auto;
    background-color: #F4F3EF;
    padding: 20px;
}

.publication-title {
    display: flex;
    align-items: center;
    justify-content: center
}

.research-publication-card {
    width: 100%;
    height: 580px;
    margin: auto;
    background-color: white;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    
}


.multi-input-fields {
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 20px;
    line-height: 30px;
    border-radius: 5px;
    color: #66615b;
    box-shadow: none;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 15px;
}

.multi-input-fields label {
    color: #9A9A9A;
    font-size: 0.8571em;
    margin-bottom: 10px;
}


.multi-input-fields > div > input {
    padding: 4px 12px;

    outline: #9A9A9A;
    border: 1px solid #9A9A9A;
    border-radius: 5px;
    
}

select {
    color: #66615b !important;
    padding: 10px 6px;
    border-radius: 5px;
}

.gap-01 {
    gap: 0.1rem !important;
}

div.url-publication > input {
    width: 100% !important;
}


.select {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    line-height: 30px;
    border-radius: 5px;
    color: #66615b;
    box-shadow: none;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px !important;
}


.save-button {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

input {
    width: 100%;
}

label {
    margin: 0 !important;
}



.button {
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 5vh;
    margin-left: 15px;
    margin: center;
    color: white;
    background-color: #51cbce;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    border-width: 1px;
}

.add-more-bg {
    background-color: #f2f2f2;
    padding: 2rem 1.7rem;
    display: flex;
    align-items: center;
}










/* sidebar */
/* font-size: max(1vw, 10px); */


/* .research-publication-container {
    display: flex;
    height: 100vh;
}


.sidebar {
    width: 15%;
    background: #0037a5;
    position: sticky;
    color: #FFFFFF;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    padding-top: 10px;
    font-size: 10px;
}


.research-portfolio {
    padding: 1.5rem 1rem .7rem 1rem;
    font-size: 22px;
}

div.navbar-div {
    margin: 0 0 1.4rem 0;
}


.card-content {
    text-align: left;
    margin: .5rem;   
    padding: 1rem;
}

.card-content h5 {
    font-size: 14px     ;
}

.mt-2 {
    margin-top: 1.4rem !important;
}

.bred-crumb {
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-radius: 5px;
    margin: 0 1rem;
}






.research-publication {
    flex: 1;
    overflow-y: auto;
    background-color: #F4F3EF;
    padding: 20px;
}

.publication-title {
    display: flex;
    align-items: center;
    justify-content: center
}

.research-publication-card {
    width: 100%;
    height: 580px;
    margin: auto;
    background-color: white;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    
}


.multi-input-fields {
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 20px;
    line-height: 30px;
    border-radius: 5px;
    color: #66615b;
    box-shadow: none;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 15px;
}

.multi-input-fields label {
    color: #9A9A9A;
    font-size: 0.8571em;
    margin-bottom: 10px;
}


.multi-input-fields > div > input {
    padding: 4px 12px;

    outline: #9A9A9A;
    border: 1px solid #9A9A9A;
    border-radius: 5px;
    
}

select {
    color: #66615b !important;
    padding: 10px 6px;
    border-radius: 5px;
}

.gap-01 {
    gap: 0.1rem !important;
}

div.url-publication > input {
    width: 100% !important;
}


.select {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    line-height: 30px;
    border-radius: 5px;
    color: #66615b;
    box-shadow: none;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px !important;
}


.save-button {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    
}

input {
    width: 100%;
}

label {
    margin: 0 !important;
}



.button {
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 5vh;
    margin-left: 15px;
    margin: center;
    color: white;
    background-color: #51cbce;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    border-width: 1px;
}

.add-more-bg {
    background-color: #f2f2f2;
    padding: 2rem 1.7rem;
    display: flex;
    align-items: center;
    
} */




