/* responsive */
.addintelproperty-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.sidebar {
  width: 20%;
  background: #0037a5;
  position: sticky;
  color: #ffffff;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  font-size: 10px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.addintelproperty {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f3ef;
  padding: 15px;
  transition: margin-left 0.3s ease;
}

/* .intelprop_navbar-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  } */

.intelprop_navbar-div h4 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
  color: #66615b;
}

/* added */
.intelprop_navbar-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.addintelproperty-card {
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
  0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.addintelproperty_heading {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 400;
}

.addintelproperty_multiInputFields input,
.addintelproperty_multiInputFields textarea {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 6px;
  border: 1px solid #dddddd;
  color: #66615b;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.addintelproperty_multiInputFields textarea {
  resize: vertical;
  width: 100%;
}

.title-input {
  margin-bottom: 15px;
}

.two-inputs {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.two-inputs .InputGroup {
  flex: 1;
  margin-right: 10px;
}

.two-inputs .InputGroup:last-child {
  margin-right: 0;
}

.InputGroup {
  margin-bottom: 15px;
}

.InputGroup label {
  margin-bottom: 5px;
}

.AIP_save-btn {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AIP_savebut {
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 7vw; */
  width: 10vw;
  /* height: 5vh; */
  height: 4vh;
  margin-left: 15px;
  color: white;
  background-color: #51cbce;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  border-width: 1px;
}

.juw_copyright p {
  margin-top: 80px;
  text-align: right;
  font-size: 0.8571em;
  line-height: 1.8;
  color: #66615b;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .addintelproperty-container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
  }

  .addintelproperty {
    padding: 10px;
    margin-left: 0;
  }

  .intelprop_navbar-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .addintelproperty-card {
    padding: 15px;
  }

  .addintelproperty_multiInputFields input,
  .addintelproperty_multiInputFields textarea {
    width: 100%;
    font-size: 12px;
  }

  .two-inputs {
    flex-direction: column;
  }

  .AIP_savebut {
    width: 100%;
  }

  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    margin-top: -7px;
  }

  .juw_copyright p {
    font-size: 0.75em;
    margin-top: 20px;
  }

  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-w92lsb-MuiButtonBase-root-MuiIconButton-root {
    margin-top: 22px !important;
  }
}

@media (max-width: 480px){
  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-w92lsb-MuiButtonBase-root-MuiIconButton-root {
    margin-top: 22px !important;
  }
}

/* @media (max-width: 1200px){ */
@media (max-width: 1024px) {
  .intelprop_navbar-div h4 {
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px !important;
    margin-left: 45px;
    color: #66615b;
  }

  .intelprop_navbar-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    margin-bottom: 30px;
  }

  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-w92lsb-MuiButtonBase-root-MuiIconButton-root {
    margin-top: 30px !important;
  }
}

@media (max-width: 1200px) {
  /* .two-inputs {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 20px;
  } */

  .intelprop_navbar-div h4 {
    font-weight: 400;
    /* font-size: 21px; */
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    color: #66615b;
  }

  .intelprop_navbar-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    /* margin-bottom: 20px; */
    margin-bottom: 30px;
  }

  button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-w92lsb-MuiButtonBase-root-MuiIconButton-root {
    margin-top: 35px !important;
  }
}

@media (max-width: 480px) {
  /* .intelprop_navbar-div h4 {
      font-size: 16px;
      margin-top: 5px;
    } */

  .intelprop_navbar-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .intelprop_navbar-div h4 {
    font-weight: 400;
    font-size: 11px;
    margin-top: 10px;
    margin-left: 38px;
  }

  .addintelproperty_heading {
    font-size: 18px;
  }

  .addintelproperty_multiInputFields input,
  .addintelproperty_multiInputFields textarea {
    font-size: 10px;
    padding: 5px;
  }

  .AIP_savebut {
    font-size: 10px;
    height: 40px;
  }

  .juw_copyright p {
    font-size: 0.65em;
  }
}


