.Add_ResearchGrants-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background: #0037a5;
  position: sticky;
  color: #ffffff;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  font-size: 10px;
}

.add_researchGrants {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f3ef !important;
  padding: 20px;
}

.add_researchGrants_card {
  background-color: white;
  margin-top: 15px;
  width: 100%;
  display: "flex";
  flex-direction: column;
  min-height: 600px;
  padding: 25px;
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
  0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add_researchGrants_card h4 {
  margin-top: 10px;
  font-weight: 400;
  margin-bottom: 20px;
}

.ARG_bred-crumb {
  margin: 0px 0rem !important;
  background-color: #e9ecef
}
/* .bred-crumb {
  margin: 0px 0rem !important;
} */

.h4-heading {
  margin-top: 40px;
}

.completed_part h6 {
    color: #252422;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.inreview_part h6 {
    margin-top: 15px;
    color: #252422;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}


.heading11 h6{
    color: #252422;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 1rem;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}


.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group label {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #555;
}

.input-group input {
    padding: 8px;
    border: 1px solid #ddd;
    color: #66615b;
    font-size: 12px;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.edit_button {
  color: white;
  background-color: #51cbce;
  border-radius: 30px;
  font-size: 13px;
  display: block;
  margin: 20px auto;
  width: 90px;
  height: 40px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit_button:hover {
  background-color: #51CBA5;
}


.juw_copyright p{
  margin-top: 60px;    
  text-align: right;
  font-size: 0.8571em;
  line-height: 1.8;
  color: #66615B;
}

/* responsiveness */

@media (max-width: 1200px) {
  .input-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .input-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .sidebar {
    width: 25%;
    position: static;
  }
}

@media (max-width: 768px) {
  .input-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .sidebar {
    width: 100%;
  }

  .add_researchGrants {
    margin-top: 0;
  }

  .add_researchGrants_card {
    padding: 15px;
  }

  .edit_button {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .input-group {
    margin-bottom: 20px;
  }

  .edit_button {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }

  .add_researchGrants_card {
    padding: 10px;
    border-radius: 10px;
  }
}





/* 
.edit_button {
  color: white;
  background: #51cbce;
  border-radius: 30px;
  font-size: 13px;
  padding: 10px 20px;
  width: 90px;
  height: 40px;
  border: none;
  align-self: flex-end;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  display: block; 
} */