.vieworicfundedproject_container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background: #0037a5;
  position: sticky;
  color: #fff;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  font-size: 10px;
}

.vieworicfundedproject {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f3ef !important;
  padding: 20px;
}

.vieworic_navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.vieworic_navbar-div h4 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
  color: #66615b;
}

.vieworicfundedproject-card {
  background-color: white;
  margin-top: 15px;
  width: 100%;
  display: "flex";
  flex-direction: column;
  min-height: 300px;
  padding: 25px;
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%),
  0 6px 20px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vieworicfundedproject-card h5 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  line-height: 1.4em;
  font-weight: 400;
  color: #252422;
}

.create-user-btn {
  margin: 10px 7px;
}

.View_project_detail {
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: start;
  flex-direction: row;
}

.View_project_detail h5 {
  margin: 0;
  margin-top: 5px;
}

.View_project_detail button {
  width: 100px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 30px;
  height: 30px;
  color: white;
  font-size: 0.8571em;
  padding: 5px 7px;
  background-color: #51cbce;
  border: none;
  cursor: pointer;
}

.vieworicfundedproject-table-data h5 {
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
}

.vieworicfundedproject-table-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.vieworicfundedproject-list-table {
  display: flex;
  border-top: 1px solid #dee2e6;
  padding: 12px 0;
  flex-direction: column;
  margin-left-right: 0;
}

.vieworicfundedproject-list-table-format {
  display: flex;
  border-top: 1px solid #dee2e6;
  justify-content: space-between;
  padding: 10px 0;
}

.vieworicfundedproject-list-table-format.title {
  font-weight: normal;
}

.vieworicfundedproject-list-table-format b {
  font-weight: 450;
  width: 25%;
  color: #333;
}

.vieworicfundedproject-list-table-format span {
  width: 70%;
  color: #555;
  margin-left: 40px;
}

.VOF_juw_copyright p {
  margin-top: 80px;
  text-align: right;
  font-size: 0.8571em;
  line-height: 1.8;
  color: #66615b;
}


/* my media query */
@media (max-width: 480px) {
  /* button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-w92lsb-MuiButtonBase-root-MuiIconButton-root {
    margin-top: 40px !important;
  } */

  .VOF_juw_copyright p{
    margin-top: 80px;
    text-align: center;
    font-size: 0.8571em;
    line-height: 1.8;
    color: #66615b;
  }
}

@media only screen and (width <= 600px) {
  .vieworic_navbar-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .vieworic_navbar-div h4 {
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
    color: #66615b;
  }

  .View_project_detail button {
    width: 25%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 30px;
    height: 20px;
    color: white;
    font-size: 0.7em;
    padding: 0 7px;
    background-color: #51cbce;
    border: none;
    cursor: pointer;
  }

  .vieworicfundedproject-list-table-format {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .vieworicfundedproject-list-table-format b {
    flex: 1;
    width: 100%;
    font-size: 14px;
    font-weight: 460;
    margin-left: 0;
    text-align: left;
  }

  .vieworicfundedproject-list-table-format span {
    flex: 1;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  /* button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-w92lsb-MuiButtonBase-root-MuiIconButton-root {
    margin-top: 20px !important;
  } */
}

@media (width <= 1024px) {
  .vieworic_navbar-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .vieworic_navbar-div h4 {
    font-weight: 400;

    /* font-size: 22px; */
    font-size: 18px;
    margin-top: 10px;

    /* margin-left: 30px; */
    margin-left: 40px;
    color: #66615b;
  }

  .View_project_detail button {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 30px;
    height: 25px;
    color: white;
    font-size: 0.61em;
    padding: 6px 7px;
    background-color: #51cbce;
    border: none;
    cursor: pointer;
  }

  /* button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-w92lsb-MuiButtonBase-root-MuiIconButton-root {
    margin-top: 10px !important;
  } */

  .vieworicfundedproject-table-data h5 {
    margin-top: 5px;
  }
}
