.viewallpublications-whole-page {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background: #0037a5;
  position: sticky;
  color: #fff;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  font-size: 10px;
}

.viewallpublications {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f3ef !important;
  padding: 20px;
}

.viewallpublications button {
  background-color: #51cbce;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 30px;
}

.vap-bred-crumb {
  margin-top: 10px;
  background-color: #e9ecef;
}

.viewallpublications-heading {
  padding: 1.5rem 1rem 0.7rem;
  font-size: 22px;
}

.viewallpublications-card {
  background-color: white;
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  padding: 25px;
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%), 0 6px 20px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.publications-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.publication-section {
  background-color: #f4f3ef;
  border-radius: 8px;
  overflow: auto;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
}

.publication-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cbdbf9;
  margin-top: 5px;

  /* margin-bottom: 10px; */
}

.publication-heading {
  font-size: 1.25em;
  margin: 0;
  margin-left: 10px;
  font-weight: 550;
}

.publication-actions {
  display: flex;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid #ddd;
}

.key-column {
  background-color: #e2ecff;
  padding: 10px;
  font-weight: bold;
  width: 30%;
}

.value-column {
  padding: 10px;
  width: 70%;
}

table td {
  padding: 10px;
}

.juw-copyright {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 0.8571em;
}

.vap-modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 60%;
  overflow-y: scroll;
  width: 30%;
  margin: auto;
  box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.vap-modal::-webkit-scrollbar {
  display: none;
}

.vap-modal h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vap-overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 70%);
  display: flex;
  align-items: center;
  justify-content: center;
}



.vap-multi-fields {
  margin-bottom: 15px;
}

.vap-multi-fields label {
  display: block;
  font-size: 0.8em;
  color: #666;
  margin-bottom: 5px;
}

.vap-multi-fields input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 0.95em;
  transition: border-color 0.3s ease;
}


.vap-input-field select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 0.95em;
  transition: border-color 0.3s ease;
}


.vap-input-field {
  padding: 3px;
}

.vap-submit-button {
  color: white;
  background-color: #51cbce;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 5vw;
  height: 4vh;
  gap: 10px;
  font-size: 14px;
  border-radius: 30px;
}


@media (max-width: 1024px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative; /* You may also use fixed if needed */
    z-index: 1; /* Ensure a lower z-index */
  }

  .viewallpublications {
    padding: 10px;
  }

  .vap-modal {
    width: 40%; 
    height: auto; 
    max-height: 70%; 
    position: fixed; /* Change to fixed or absolute */
    top: 50%; /* Center the modal */
    left: 50%; /* Center the modal */
    transform: translate(-50%, -50%); /* Center the modal */
    z-index: 1000; /* Set a high z-index to ensure it's above other elements */
    background-color: white; /* Ensure the modal has a visible background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional for better visibility */
  }

  .vap-submit-button {
    color: white;
    background-color: #51cbce;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 10vw;
    height: 4vh;
    gap: 10px;
    font-size: 14px;
    border-radius: 30px;
  }

}




/* @media (max-width: 1024px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .viewallpublications {
    padding: 10px;
  }

  .vap-modal {
    width: 50%; 
    height: auto; 
    max-height: 50%; 
  }
} */

@media (width <= 768px) {
  .viewallpublications-whole-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .viewallpublications {
    padding: 10px;
  }

  .viewallpublications button {
    font-size: 12px;
    padding: 8px 16px;
  }

  .vap-bred-crumb {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    background-color: #e9ecef;
  }

  .publication-section {
    margin-bottom: 15px;
    overflow-x: auto;
    padding: 10px;
  }

  .publication-heading {
    font-size: 16px;
    display: block;
    width: auto;
    box-sizing: border-box;
  }

  .key-column,
  .value-column {
    font-size: 14px;
  }

  .viewallpublications-card {
    width: 100%;
    min-height: auto;
    padding: 20px;
    margin-top: 10px;
  }

  .vap-modal {
    width: 75%;
    padding: 10px;
    height: 60%;
    border-radius: 8px;
  }

  .vap-overlay {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vap-submit-button {
    color: white;
    background-color: #51cbce;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 20vw;
    height: 4vh;
    gap: 10px;
    font-size: 14px;
    border-radius: 30px;
  }
}

@media (width <= 480px) {
  .viewallpublications {
    padding: 5px;
  }

  .viewallpublications button {
    font-size: 11px;
    padding: 6px 12px;
    margin-bottom: 10px;
  }

  .vap-bred-crumb {
    margin: 5px 0;
    padding: 6px;
    width: 100%;
  }

  .viewallpublications-card {
    width: 100%;
    min-height: auto;
    padding: 20px;
    margin-top: 10px;
  }

  .publication-section {
    margin-bottom: 10px;
    overflow-x: auto;
    padding: 8px;
  }

  .publication-heading {
    font-size: 14px;
    margin-bottom: 8px;
    padding: 12px 7px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }

  .key-column,
  .value-column {
    font-size: 12px;
    padding: 6px;
  }

  div.download-btn {
    display: flex;
    margin: 0;
  }

  .oricfundedproject button {
    width: 25vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  .juw-copyright {
    font-size: 12px;
  }


  .vap-modal {
    width: 75%;
    padding: 10px;
    height: 60%;
    border-radius: 8px;
  }

  .vap-overlay {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vap-submit-button {
    color: white;
    background-color: #51cbce;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 20vw;
    height: 4vh;
    gap: 10px;
    font-size: 14px;
    border-radius: 30px;
  }
}
