.collaborativework-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background: #0037a5;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  font-size: max(1vw, 10px);
}

.collaborativework_bred-crumb {
  margin: 0;
  width: 100%;
  background-color: #e9ecef;
}

.collaborativework {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f3ef !important;
  padding: 20px;
}

.collaborativework-card {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%),
  0 6px 20px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collaborativework-card h3 {
  /* padding: 10px; */
  margin: 10px;
  margin-left: 0;

  /* font-size: 1.57em; */
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.textarea textarea {
  width: 100%;
  height: 15vh;
  resize: none;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.textarea textarea:focus {
  border-color: #ccc;
}

.textarea label {
  font-size: 0.8571em;
  margin-bottom: 5px;
  color: #9a9a9a;
}

.collaborative-content h3 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.collaborative_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.collaborative_button {
  font-weight: 600;
  font-size: 12px;

  /* width: 6vw; */
  width: 8vw;
  border: none;

  /* height: 5vh; */
  height: 3vh;
  color: white;
  background-color: #51cbce;
  border-radius: 30px;
  cursor: pointer;
  text-align: center; 
}





@media (width <= 480px){
  .collaborative_button{
    width: 15vw !important;
    height: 5vh !important; 
  }
}




@media (width <= 768px) {
  .collaborativework-card {
    background-color: white;
    margin-top: 30px;

    /* padding: 20px; */
    border-radius: 20px;
  }

  .collaborativework-card h3 {
    /* padding: 10px; */
    margin: 10px;
    margin-left: 0;

    /* font-size: 1.57em; */
    font-size: 1.22em;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .collaborative-content h3 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .textarea label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9a9a9a;
  }


  .collaborative_button {
    font-weight: 600;
    font-size: 12px;
    width: 15vw;
    border: none;
    height: 4vh;
    color: white;
    background-color: #51cbce;
    border-radius: 30px;
    cursor: pointer;
    text-align: center; 
  }
}


@media (width <= 1024px){
  .collaborative_button {
    width: 9vw;
    height: 4vh;
  }
}
