
.dashboard-card1 {
  padding: 20px;
  background-color: #f4f3ef !important;
  border-radius: 8px;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

.dashboardcard-card-content {
  margin-bottom: 20px;
}

.drd-bredcrumb {
  margin: 0;
  width: 100%;
  background-color: #e9ecef;
}

.departmental-navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: -40px;
}

.dashboardcard-card-content h3 {
  margin-bottom: 20px;
  margin-top: 1px;
  font-size: 1.47em;
  font-weight: 400;
  color: #333;
}

.dashboardcard-card-items {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%),
  0 6px 20px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboardcard-card-items p {
  font-size: 1.314em;
  margin-top: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}

.dashboardcard-card-item {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.card-title h4 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 20px;
  color: #333;
  margin-top: 0;
}


.dashboardcard-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.dashboardcard-input-group label {
  margin-bottom: 5px;
  font-size: 13px;
  color: #555;
}

.dashboardcard-input-group input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.dashboardcard-card-item .input-container {
  display: grid;
  margin-top: 15px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.dashboardcard-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 40px;
  margin: 20px auto;
  color: white;
  background-color: #51cbce;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

@media (width <= 1200px) {
  .dashboardcard-card-item .input-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
  }

  .dashboardcard-btn {
    width: 20%;
  }


  .dashboardcard-input-group label {
    margin-bottom: 5px;
    font-size: 11px;
    color: #555;
  }
}

@media (width <= 768px) {
  .dashboardcard-card-item .input-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .dashboardcard-btn {
    width: 20%;
  }

  .dashboardcard-card-content h3 {
    font-size: 16px;
  }

  .dashboardcard-card-items p {
    font-size: 18px;
  }

  .dashboardcard-input-group label {
    margin-bottom: 5px;
    font-size: 13px;
    color: #555;
  }
}

@media (width <= 480px) {
  .dashboardcard-card-item .input-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .dashboardcard-btn {
    width: 100%;
  }

  .dashboardcard-card-content h3 {
    font-size: 20px;
  }

  .dashboardcard-card-items p {
    font-size: 22px;
  }
}


