.personal-information-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.sidebar {
  width: 20%;
  background: #0037a5;
  position: sticky;
  color: #fff;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 10px;
  font-size: 10px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.personal-information {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f3ef;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.PI_bredcrumb {
  margin: 0 20px !important;
  width: calc(100% - 40px);
  background-color: #e9ecef;
}



.personal-information-card {
  width: 100%;
  height: 680px;
  margin: auto;
  background-color: white;
  border-radius: 18px;
  animation: fadeIn 1s;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%),
  0 6px 20px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.personal_information-section {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  position: relative;
}

.research-portfolio {
  padding: 1.5rem 1rem 0.7rem;
  font-size: 22px;
}

/* div.navbar-div {
  margin: 0 0 1.4rem 0;
  display: flex;
} */

.create-user button {
  background: #51cbce;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 120px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.create-user-btn {
  margin: 10px 7px;
}

.edit_button {
  color: white;
  background: #51cbce;
  border-radius: 30px;
  font-size: 13px;
  padding: 10px 20px;
  width: 90px;
  height: 40px;
  border: none;
  align-self: flex-end;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}





@media (width <= 768px) {
  .sidebar {
    width: 60%;
    position: fixed;
    left: -100%;
    height: 100%;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }

  .personal-information {
    margin-left: 0;
    padding: 10px;
  }

  .bred-crumb {
    margin: 0 10px !important;
    width: calc(100% - 20px);
  }

  .personal_information-section {
    padding: 15px;
  }
}

@media (width <= 576px) {
  .sidebar {
    width: 70%;
    position: fixed;
    left: -100%;
    height: 100%;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }

  .personal-information-container {
    flex-direction: column;
  }

  .personal-information {
    padding: 10px;
  }

  .bred-crumb {
    margin: 0 5px !important;
    width: calc(100% - 10px);
  }

  .personal_information-section {
    padding: 10px;
  }

  .edit_button {
    width: 20%;
    padding: 10px;
    margin: 10px 0;

    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
}
